<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
	<body ng-app="assign_8">


		<!-- Fixed header at top -->
			<div class="fixed header">
				<img src="images/header.png">
			</div>

			<div class="main" ng-controller="myController">


				<!-- ng-show="main[0].bool" -->
				<div ng-click="dummyfunct()">
					<div>
						<p>{{ main[counter].head }}</p>
						<p>{{ main[counter].para }}</p>
						 <!-- ng-show="somefunction(main.thing)" -->
						<div class="button" ng-show="invis"><button> {{main[counter].button_1}} </button></div>
						<div class="button" ng-show="invis"><button> {{main[counter].button_2}} </button></div>
						<div class="button" ng-show="invis"><button> {{main[counter].button_3}} </button></div>
						<div class="button" ng-show="invis"><button> {{main[counter].button_4}} </button></div>
						<div class="button" ng-show="invis"><button> {{main[counter].button_5}} </button></div>
						<div class="button" ng-show="invis"><button> {{main[counter].button_6}} </button></div>
					<div class="button"><button ng-click="changebool(main[counter])">{{ main[counter].submit }}</button></div>
					</div>
				</div>


				<!-- <div class="container" ng-show= "mainvis">
					<div ng-repeat="app in main">
						<h1> {{ app.head }}  </h1>
						<p> {{ app.para }}</p>
						<button ng-click="starts1()"> {{app.submit}} </button>
					</div>
				</div> -->

				<!-- <div class="container" ng-repeat=" app in second" ng-hide="isVisible"> -->


			</div>

		<!-- Fixed footer at bottom -->
			<div class="footer">
				<img src="images/footer.png">
			</div>


		<script src="javascript/angular.js"></script>
		<script src="javascript/app.js"></script>
	</body>
</html>
